header img{
    width: 12em;
    border-radius: 50%;
    border: white solid 2px;
}
header img:hover{
    border-color: green;
    transition: 1s;
}
*{
    padding: 5px;
    margin: 5px;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 2.5fr 1fr;
}
body{
    background-color: black;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
header{
    padding: 10px;
    border-radius: 20px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    flex-wrap: wrap;
    border: white solid 1px;
}
h1{
    margin-left: 100px;
    font-size: 8em;
    color: white;
    font-family: "Madimi One", sans-serif;
    letter-spacing: 8px;
    text-align: center;
    
}
main{
    background-color: #1f1f1f;
    margin-top: 20px;
    grid-area: main;
    border-radius: 20px;
    border: white solid 1px;
}
aside{
    background-color: #1f1f1f;;
    margin-top: 20px;
    border: white solid 1px;
    grid-area: aside;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    

}
aside img{
    width: 75%;
    border-radius: 15px;
    border:white solid 3px;

}
aside img:hover{
    border-color: greenyellow;
    transition: 1s;
}
h2{
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 6em;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
section img{
    width: 26%;
    border: greenyellow solid 3px;
    border-radius: 9px;
    margin: 10px;

}
section img:hover{
    border: rgb(178, 255, 134) solid;
    box-shadow: rgba(187, 255, 85, 0.938) 0 0 5px 4px;
    transition: 0.4s;
}p.img{
    text-align: center;
}
aside p{
    color: white;
    font-size: 25px ;

}
footer{
    background-color: #1f1f1f;
    grid-area: footer;
    border: white solid 2px;
    border-radius: 20px;
}

@media screen and (max-width: 912px){
    section img{
        width: 40%;
    }
    h1{
        font-size: 5em;
    }
    
    
}
@media screen and (max-width: 779px){
    section img{
        width: 90%;
    }
    h1{
        font-size: 4em;
        margin-left: 15px;
    }
    h2{
        font-size: 3.5em;
    }
    
}
@media screen and (max-width: 724px){
    .container{
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;
    }
    
}
@media screen and (max-width: 386px){
    
    header img{
        width: 9em;
        
    }
    h1{
        font-size: 2.3em;
    }
    main h2{
        font-size: 1.9em;
    }
    
}